In [6]:
#Q1. Using Python script as a calculator: Create the variables n, r, p and assign them values 10, 5, and 100 respectively.
#Then evaluate the following expression in the Python console. ùê¥ = ùëù (1 + ùëü/ 100)n

n=10
r=5
p=100

A=p*(1+r/100)**n
print(A)

#Answer: b)162.89

162.8894626777442

In [7]:
#Q2. In a given string format operation, how will you print the given string. A = 10, B = 20. 
#Str = "There are {} students in the class, with {} who play at least one sport."

A=10
B=20
Str="There are {} students in the class, with {} who play at least one sport."

print(Str.format(B,A))

#Answer: c. print(string.format(b,a))

There are 20 students in the class, with 10 who play at least one sport.

In [14]:
#Q3. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?
#Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.

print("It goes without saying,\"Time is Money\" and none can deny it.")

#Answer: a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)

It goes without saying,"Time is Money" and none can deny it.

In [15]:
#Q4. What will be the output of the following code?

#lambda is an anonymous function

x = lambda a,b: a//b
x(10,3)

#Answer: b. 3

3

In [18]:
#Q5. What will be the output of the following code?

A = 10
B = 12
 
if A == B:
    print("Smaller")
elif A < B:
    print("Greater") 
else:
    print("True")
    
#Given code
print("Smaller") if A == B else print("Greater") if A < B else print("True")

#Answer: c. Greater

Greater
Greater

In [19]:
#Q6. What will be the output of the following code?

import os
import numpy as np
my_list1=[2,7,3,5,4,6]
print(my_list1)
arr_1=numpy.array(my_list1, dtype=int)
print(arr_1)

#Answer:c. NameError: name 'numpy' is not defined

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [21]:
#Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?

string="Machine Learning"

print(string[8:13])
print(string[slice(8,13,1)])

#slice(start,stop,step)

#Answer: d. string[slice(8,13,1)]

Learn

'Learn'

In [50]:
#Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?

lst1=[*range(10,26)] #last value not included
print(lst1)

#argument unpacking operator:*; for the acknowledgement of range within the list

lst2=[]  #creating an empty list
for x in lst1:
    x=x+4
    print(x)
    lst2.append(x) #adding the incremented outputs to the empty list
print(lst2)

print(lst2.index(18))
    
#Answer: 4 according to my list

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
4

In [51]:
#Q9. Which of the following is true with respect to the below codes?

num1=5**4  #exponent
num2=pow(5,4) #5 to the power of 4
print(num1,num2)

print(num1==num2)
print(num1!=num2)
print(num1<num2)
print(num1>num2)

#Answer:a. num1 = num2

625 625
True
False
False
False

In [52]:
#Q10. A Python NameError exception is raised when: -

print(var)
#Answer: a. Trying to access a variable which has not been defined

NameError: name 'var' is not defined

In [53]:
#Q11. What type of exception will be raised for the code given below?

x="string"
int(x)

#string cannot be an integer
#Answer: c. ValueError

ValueError: invalid literal for int() with base 10: 'string'

In [ ]:
#Q12. A FileNotFoundError exception is raised by operating system errors when: -

#Answer: b. A file or directory is requested but does not exist in the working directory

In [56]:
#Q13. Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -

Z="ID-5632"

print(type(Z))

#Answer: b. Character

<class 'str'>

In [60]:
#Q14. Which of the following variable(s) are character data type?

K= "4"
print(type(K))

J= "Welcome"
print(type(J))

L= "?"
print(type(L))

#Answer: d. All of the above

<class 'str'>
<class 'str'>
<class 'str'>

In [64]:
#Q15. Choose the symbol/s that does not have the ability to convert any values to string?

str1=("string")
str2={"string"}


#Answer:d.#

In [68]:
#Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively:Country India China Japan Qatar France
#State Delhi Beijing Tokyo Doha Marseilles
#Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

Country={"India":"Delhi",
        "China":"Beijing",
        "Japan":"Tokyo",
        "Qatar":"Doha",
        "France":"Marseilles"}
print(Country)

Country["France"]="Paris" #Command1:accessing the key to replace the variable
print(Country)

Country2={"India":"Delhi",
        "China":"Beijing",
        "Japan":"Tokyo",
        "Qatar":"Doha",
        "France":"Marseilles"}

Country2.update({"France":"Paris"}) #Command2:updating the key-value pair
print(Country2)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [72]:
#Q17. Create the tuples given below: Identify which of the following code does not work on a tuple.

tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

sum(tuple_1)
len(tuple_2)
tuple_2 + tuple_1

tuple_1[3] = 45

#Answer:d. tuple_1[3] = 45 does not work on a tuple.

TypeError: 'tuple' object does not support item assignment

In [73]:
#Q18. How many elements in the following data structure?

S={1,2,3,4,4,4,5,6}

print(len(S)) #only unique values are counted in a set

#Answer:6

6

In [3]:
#Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N

N=int(input("Enter a natural number: "))
c, m = 0, 2      #2 is used to avoid 0 in range
while c < N:
    for n in range(1, m):
        a = m * m - n * n   #triplets are co-primes (HCF=1)
        b = 2 * m * n       #Euclid's formula to generate pythagorean triplets using a pair of integers m,n (m>n>o)
        c = m * m + n * n
        if c > N:
            break
        print(a, b, c)
    m = m + 1

Enter a natural number: 20
3 4 5
8 6 10
5 12 13
15 8 17
12 16 20